<div class="row">
	<h1>URDB</h1>
	<ul>
		<% @movies.each do |m| %>
			<div class="small-8 small-centered columns"><dt class="link"><%= link_to m.title, movie_path(m.id) %></dt>
			<dd><%= m.description%></dd></div><br>
		<% end %>
	</ul>
</div>
