<div class="row">
	<ul>
		<% @movies.each do |m| %>
			<div class="small-5 small-centered columns"><dt class="link"><%= link_to m.title, movie_path(m.id) %></dt></div>
			<div class="small-8 small-centered columns"><dd><%= m.description%></dd></div><br>
		<% end %>
	</ul>
</div>
